Repository cs2103-ay1819s2-w10-4/main, pull requests merged in 2019-03, with the labels that each got.

#45 Create test session UI and test command
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/commands/CommandResult.java
  src/main/java/seedu/address/logic/commands/ExitCommand.java
  src/main/java/seedu/address/logic/commands/HelpCommand.java
  src/main/java/seedu/address/logic/commands/TestCommand.java
  src/main/java/seedu/address/logic/parser/CommandParser.java
  src/main/java/seedu/address/logic/parser/TestCommandParser.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/ui/CardMainScreen.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/TestSession.java
  src/main/resources/view/CardMainScreen.fxml
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/TestSession.fxml
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/CommandResultTest.java
  src/test/java/seedu/address/logic/commands/ExitCommandTest.java
  src/test/java/seedu/address/logic/commands/HelpCommandTest.java
  src/test/java/seedu/address/logic/parser/CommandParserTest.java
  src/test/java/seedu/address/logic/parser/TestCommandParserTest.java
  src/test/java/seedu/address/testutil/TypicalIndexes.java
Labels: component.Logic, component.Model, component.UI

#64 Add answer command and checks
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/AnswerCommandResultType.java
  src/main/java/seedu/address/logic/commands/AnswerCommand.java
  src/main/java/seedu/address/logic/commands/CommandResult.java
  src/main/java/seedu/address/logic/commands/EndCommand.java
  src/main/java/seedu/address/logic/commands/ExitCommand.java
  src/main/java/seedu/address/logic/commands/HelpCommand.java
  src/main/java/seedu/address/logic/commands/TestCommand.java
  src/main/java/seedu/address/logic/parser/AnswerCommandParser.java
  src/main/java/seedu/address/logic/parser/CommandParser.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/CommandResultTest.java
  src/test/java/seedu/address/logic/commands/ExitCommandTest.java
  src/test/java/seedu/address/logic/commands/HelpCommandTest.java
  src/test/java/seedu/address/logic/parser/AnswerCommandParserTest.java
  src/test/java/seedu/address/logic/parser/CommandParserTest.java
  src/test/java/seedu/address/testutil/CardBuilder.java
Labels: component.Logic, component.Model

#70 Add addfolder command
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/logic/commands/AddFolderCommand.java
  src/main/java/seedu/address/logic/parser/AddFolderCommandParser.java
  src/main/java/seedu/address/logic/parser/CommandParser.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ReadOnlyCardFolder.java
  src/main/java/seedu/address/model/UserPrefs.java
  src/main/java/seedu/address/model/VersionedCardFolder.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/storage/JsonCardFolderStorage.java
  src/main/java/seedu/address/storage/StorageManager.java
  src/test/java/seedu/address/TestApp.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/storage/JsonCardFolderStorageTest.java
Labels: component.Logic, component.Model, component.Storage

#72 Add deletefolder and change command
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/commands/AnswerCommand.java
  src/main/java/seedu/address/logic/commands/ChangeCommand.java
  src/main/java/seedu/address/logic/commands/CommandResult.java
  src/main/java/seedu/address/logic/commands/DeleteFolderCommand.java
  src/main/java/seedu/address/logic/commands/EndCommand.java
  src/main/java/seedu/address/logic/commands/ExitCommand.java
  src/main/java/seedu/address/logic/commands/HelpCommand.java
  src/main/java/seedu/address/logic/commands/TestCommand.java
  src/main/java/seedu/address/logic/parser/ChangeCommandParser.java
  src/main/java/seedu/address/logic/parser/CommandParser.java
  src/main/java/seedu/address/logic/parser/DeleteFolderCommandParser.java
  src/main/java/seedu/address/model/CardFolder.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/storage/StorageManager.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/test/java/guitests/GuiRobot.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/CommandResultTest.java
  src/test/java/seedu/address/logic/commands/ExitCommandTest.java
  src/test/java/seedu/address/logic/commands/HelpCommandTest.java
Labels: component.Logic, component.Model, component.Storage

#75 Add sorting
  docs/UserGuide.adoc
  src/main/java/seedu/address/logic/commands/EditCommand.java
  src/main/java/seedu/address/logic/commands/ListCommand.java
  src/main/java/seedu/address/logic/commands/SortCommand.java
  src/main/java/seedu/address/logic/parser/CommandParser.java
  src/main/java/seedu/address/model/CardFolder.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/card/Card.java
  src/main/java/seedu/address/model/card/Question.java
  src/main/java/seedu/address/model/card/Score.java
  src/main/java/seedu/address/model/card/UniqueCardList.java
  src/test/data/JsonSerializableCardFolderTest/typicalCardsCardFolder.json
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/ListCommandTest.java
  src/test/java/seedu/address/logic/commands/SortCommandTest.java
  src/test/java/seedu/address/model/ModelManagerTest.java
  src/test/java/seedu/address/model/card/CardTest.java
  src/test/java/seedu/address/testutil/TypicalCards.java
Labels: component.Model

#83 Add home directory and update user guide
  docs/UserGuide.adoc
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/commands/AddCommand.java
  src/main/java/seedu/address/logic/commands/AddFolderCommand.java
  src/main/java/seedu/address/logic/commands/ChangeCommand.java
  src/main/java/seedu/address/logic/commands/ClearCommand.java
  src/main/java/seedu/address/logic/commands/DeleteCommand.java
  src/main/java/seedu/address/logic/commands/DeleteFolderCommand.java
  src/main/java/seedu/address/logic/commands/EditCommand.java
  src/main/java/seedu/address/logic/commands/UndoCommand.java
  src/main/java/seedu/address/logic/parser/ChangeCommandParser.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/storage/Storage.java
  src/main/java/seedu/address/storage/StorageManager.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/ClearCommandTest.java
Labels: component.Logic, component.Model

#87 Fix bug with saving folders
  src/main/java/seedu/address/storage/StorageManager.java
Labels: component.Storage

#96 Refactor CommandResult
  src/main/java/seedu/address/logic/AnswerCommandResultType.java
  src/main/java/seedu/address/logic/commands/AnswerCommand.java
  src/main/java/seedu/address/logic/commands/ChangeCommand.java
  src/main/java/seedu/address/logic/commands/CommandResult.java
  src/main/java/seedu/address/logic/commands/DeleteFolderCommand.java
  src/main/java/seedu/address/logic/commands/EndCommand.java
  src/main/java/seedu/address/logic/commands/ExitCommand.java
  src/main/java/seedu/address/logic/commands/HelpCommand.java
  src/main/java/seedu/address/logic/commands/TestCommand.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/test/java/seedu/address/logic/commands/AnswerCommandTest.java
  src/test/java/seedu/address/logic/commands/CommandResultTest.java
  src/test/java/seedu/address/logic/commands/EndCommandTest.java
  src/test/java/seedu/address/logic/commands/ExitCommandTest.java
  src/test/java/seedu/address/logic/commands/HelpCommandTest.java
  src/test/java/seedu/address/logic/commands/TestCommandTest.java
Labels: type.Refactor

#97 Add report
  docs/UserGuide.adoc
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/commands/AnswerCommand.java
  src/main/java/seedu/address/logic/commands/CommandResult.java
  src/main/java/seedu/address/logic/commands/EndCommand.java
  src/main/java/seedu/address/logic/commands/NextCommand.java
  src/main/java/seedu/address/logic/commands/ReportCommand.java
  src/main/java/seedu/address/logic/parser/CommandParser.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/card/UniqueCardList.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/ReportDisplay.java
  src/main/resources/view/ReportDisplay.fxml
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/AnswerCommandTest.java
  src/test/java/seedu/address/logic/commands/EndCommandTest.java
  src/test/java/seedu/address/logic/commands/NextCommandTest.java
  src/test/java/seedu/address/logic/commands/ReportCommandTest.java
Labels: component.UI

#104 Add editfolder command, update tests and docs
  docs/AboutUs.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/team/auliangjun.adoc
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/commands/ChangeCommand.java
  src/main/java/seedu/address/logic/commands/CommandResult.java
  src/main/java/seedu/address/logic/commands/EditFolderCommand.java
  src/main/java/seedu/address/logic/parser/CommandParser.java
  src/main/java/seedu/address/logic/parser/DeleteFolderCommandParser.java
  src/main/java/seedu/address/logic/parser/EditFolderCommandParser.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/CardFolder.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ReadOnlyCardFolder.java
  src/main/java/seedu/address/model/UniqueCardFolderList.java
  src/main/java/seedu/address/model/VersionedCardFolder.java
  src/main/java/seedu/address/storage/Storage.java
  src/main/java/seedu/address/storage/StorageManager.java
  src/main/java/seedu/address/ui/FolderListPanel.java
  src/main/java/seedu/address/ui/FolderThumbnail.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/resources/view/FolderListPanel.fxml
  src/test/java/seedu/address/TestApp.java
  src/test/java/seedu/address/logic/LogicManagerTest.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/AnswerCommandTest.java
  src/test/java/seedu/address/logic/commands/ChangeCommandTest.java
  src/test/java/seedu/address/logic/commands/EndCommandTest.java
  src/test/java/seedu/address/logic/commands/NextCommandTest.java
  src/test/java/seedu/address/logic/commands/TestCommandTest.java
  src/test/java/seedu/address/storage/StorageManagerTest.java
  src/test/java/seedu/address/ui/MainWindowCloseTest.java
  src/test/java/systemtests/AddCommandSystemTest.java
  src/test/java/systemtests/CardFolderSystemTest.java
Labels: component.Logic, component.Model, component.Storage, component.UI
